<div class="col-sm-12 infor-box">
    <div class="banner-page">
        <div class="banner-section account-box">
            <div class="middle-content">
                <div class="text-right p-t-8">
                    <div class="p-r-10">
                        <span>Chao Xìn, Tấn Đạt</span>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
