
<div class="main-menu">
    <div class="menu-header">
        <a href="/">
            <h2>MYGEARS</h2>
        </a>
        <div class="bg-bars">
            <i class="fa fa-lg fa-bars light"></i>
        </div>
    </div>
    <ul class="menu-body">
        <li class="menu-dropdown">
            <a class="menu-link" a href="#">
                <span class="icon-background">
                    <i class="fa-solid fa-layer-group icon"></i>
                </span>
                <span class="menu-link-text">SẢN PHẨM</span>
                <i class="icon-dropdown fa-solid fa-sort-down"></i>
            </a>
            <ul class="child-menu">
                <li>
                    <a>
                        <span><i class="fa-regular fa-circle circle-size"></i></span>
                        <span>Danh sách sản phẩm</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span><i class="fa-regular fa-circle circle-size"></i></span>
                        <span>Thêm sản phẩm</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span><i class="fa-regular fa-circle circle-size"></i></span>
                        <span>Danh sách loại sản phẩm</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span><i class="fa-regular fa-circle circle-size"></i></span>
                        <span>Thêm loại sản phẩm</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span><i class="fa-regular fa-circle circle-size"></i></span>
                        <span>Danh sách thương hiệu</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span><i class="fa-regular fa-circle circle-size"></i></span>
                        <span>Thêm thương hiệu</span>
                    </a>
                </li>
            </ul>
        </li>     
        <li class="menu-dropdown">
            <a class="menu-link" a href="#">
                <span class="icon-background">
                    <i class="fa-solid fa-gift icon"></i>
                </span>
                <span class="menu-link-text">ĐƠN HÀNG</span>
                <i class="icon-dropdown fa-solid fa-sort-down"></i>
            </a>
            <ul class="child-menu">
                <li>
                    <a>
                        <span><i class="fa-regular fa-circle circle-size"></i></span>
                        <span>Danh sách sản phẩm</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span><i class="fa-regular fa-circle circle-size"></i></span>
                        <span>Thêm sản phẩm</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span><i class="fa-regular fa-circle circle-size"></i></span>
                        <span>Danh sách loại sản phẩm</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span><i class="fa-regular fa-circle circle-size"></i></span>
                        <span>Thêm loại sản phẩm</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span><i class="fa-regular fa-circle circle-size"></i></span>
                        <span>Danh sách thương hiệu</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span><i class="fa-regular fa-circle circle-size"></i></span>
                        <span>Thêm thương hiệu</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-dropdown">
            <a class="menu-link" a href="#">
                <span class="icon-background">
                    <i class="fa-solid fa-user icon"></i>
                </span>
                <span class="menu-link-text">TÀI KHOẢN</span>
            </a>
        </li>
        <li class="menu-dropdown">
            <a class="menu-link" a href="#">
                <span class="icon-background">
                    <i class="fa-solid fa-users icon"></i>
                </span>
                <span class="menu-link-text">KHÁCH HÀNG</span>
            </a>
        </li>
        <li class="menu-dropdown">
            <a class="menu-link" a href="#">
                <span class="icon-background">
                    <i class="fa-solid fa-ticket icon"></i>
                </span>
                <span class="menu-link-text">COUPON</span>
            </a>
        </li>
    </ul>
</div>
