
<div class="main-menu">
    <div class="menu-header">
        <a href="/">
            <h2>MYGEARS</h2>
        </a>
        <i class="fa fa-lg fa-bars dark"></i>
    </div>
    <ul class="menu-body" style="display:block">
        <li tabindex="0">
            <a class="menu-link">
                <span class="icon-background">
                    <i class="fa-solid fa-layer-group icon"></i>
                </span>
                <span class="menu-link-text">SẢN PHẨM</span>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>        
        <li>
            <a class="menu-link">
                <span class="icon-background">
                    <i class="fa-solid fa-star icon"></i>
                </span>
                <span class="menu-link-text">THƯƠNG HIỆU</span>
            </a>
        </li>
        <li tabindex="0">
            <a class="menu-link">
                <span class="icon-background">
                    <i class="fa-solid fa-gift icon"></i>
                </span>
                <span class="menu-link-text">ĐƠN HÀNG</span>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
        <li>
            <a class="menu-link">
                <span class="icon-background">
                    <i class="fa-solid fa-user icon"></i>
                </span>
                <span class="menu-link-text">TÀI KHOẢN</span>
            </a>
        </li>
        <li>
            <a class="menu-link">
                <span class="icon-background">
                    <i class="fa-solid fa-users icon"></i>
                </span>
                <span class="menu-link-text">KHÁCH HÀNG</span>
            </a>
        </li>
        <li>
            <a class="menu-link">
                <span class="icon-background">
                    <i class="fa-solid fa-ticket icon"></i>
                </span>
                <span class="menu-link-text">COUPON</span>
            </a>
        </li>
    </ul>
</div>
