@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --bg-primary: #fff;
    --bg-light-blue: #dff5fa;
    --bg-dark-blue: #016C7E;
    --bg-blue: #15adcc;
    --blue-accent: #097687;
    --text-primary: #667580;
    --text-white: #fff;
    --text-black: #000;
    --boder-color: #F4F4F4;
}

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body {
    background-color: #fff;
    font-family: "Roboto Mono", monospace;
}

.main-menu {
    position: fixed;
    height: 100%;
    width: 230px;
    background-color: var(--bg-primary);
    color: var(--blue-accent);
    border-right: 1px solid var( --boder-color);
}

.menu-header {
    background-color: var(--bg-primary);
    padding: 20px;
    position: fixed;
    width: 230px;
    z-index: 10;
    border-right: 1px solid var( --boder-color);
    border-bottom: 1px solid var( --boder-color);
}

.menu-header a {
    text-decoration: none;
    color: var(--blue-accent);
    text-align: left;
}

.bg-bars {
    background-color: var(--bg-dark-blue);
    position: absolute;
    right: -18px;
    top: 25px;
    z-index: 100;
    cursor: pointer;
    width: 35px;
    height: 35px;
    padding: 6px 2px 6px 8px;
}

.fa-bars {
    font-size: 1.33em;
}

.light {
    color: var(--bg-light-blue) !important;
}

.menu-body{
    margin-top: 90px;
    overflow: auto;
    height: calc(100% - 70px);
}

.main-menu ul {
    padding-left: 0;
}

.main-menu ul li {
    margin: 0 10px 3px 10px;
    text-align: left;
    list-style: none;
}

.main-menu ul li a {
    color: var(--blue-accent);
    padding: 10px 0px 10px .5rem;
    display: block;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    text-align: left;
    font-size: 14px;
    transition: ease-in-out .4s;
}

.main-menu ul li a:hover,
.main-menu ul li a:focus {
    background-color: var(--bg-light-blue);
    border-radius: 7px;
}

.menu-link-text {
    padding-top: 5px;
}

.icon-background {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    text-align: center;
    background-color: var(--bg-light-blue);
    border-radius: 50%;
}

.icon-background .icon {
    margin-top: 5px;
}

.icon-dropdown {
    position: absolute;
    right: 20px;
    transition: ease-in-out .4s;
}

.child-menu{
    display: none;
}

.child-menu.show {
    display: block;
}

.child-menu a span {
    font-size: 13px;
}

.child-menu a span {
    padding: 10px 0px 5px 0px !important;
}

.child-menu li {
    margin: 0 !important;
}

.circle-size{
    font-size: 7px;
}